/* 전체 화면 */
.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #20242b;
}


/* Three.js Canvas 영역 */
.canvas-container {
  width: 100%;
  height: 100%;
  background: #20242b;
}


/* =================================
   Joint Control Panel
================================= */

.control-panel {

  position: absolute;

  left: 30px;
  bottom: 30px;

  width: 300px;

  padding: 22px;

  background:
    rgba(20, 24, 30, 0.92);

  border-radius: 14px;

  color: white;

  font-family:
    Arial,
    sans-serif;

  box-shadow:
    0 8px 25px rgba(0,0,0,0.35);

}



/* ROS Bridge 제목 */
.control-panel h3 {

  margin: 0 0 15px 0;

  color: white;

  font-size: 18px;

}



/* UR5e Joint Control 제목 */
.control-panel h2 {

  margin: 0 0 22px 0;

  color: white;

  font-size: 22px;

  font-weight: bold;

}



/* =================================
   Joint Slider
================================= */


.control-panel label {

  display: block;

  color: white;

  font-size: 15px;

  margin-bottom: 8px;

  font-weight: bold;

}



.control-panel input[type="range"] {

  width: 260px;

  height: 5px;

  cursor: pointer;

  accent-color: #2196f3;

}



/* Joint 하나의 영역 */
.control-panel div {

  margin-bottom: 15px;

}



/* =================================
   Button
================================= */


.control-panel button {

  margin-top: 15px;

  margin-right: 8px;

  padding:

    9px 16px;


  border:

    none;


  border-radius:

    6px;


  background:

    #374151;


  color:

    white;


  font-size:

    14px;


  cursor:

    pointer;

}



.control-panel button:hover {

  background:

    #2563eb;

}
.home-button {

  background:
    #2563eb !important;

}


.home-button:hover {

  background:
    #1d4ed8 !important;

}



.reset-button {

  background:
    #dc2626 !important;

}


.reset-button:hover {

  background:
    #b91c1c !important;

}



/* =================================
   ROS 상태
================================= */


.control-panel strong {

  font-weight:

    bold;

}